<p>reactive-form works!</p>
<form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()">
  <div class="title">Welcome</div>
  <div class="subtitle">Let's create your account!</div>
  <div class="input-container ic1">
    <input
      id="firstname"
      class="input"
      type="text"
      placeholder=" "
      formControlName="firstName"
    />
    <div *ngIf="!formData.controls.firstName.valid" style="color: red">
      First Name is required
    </div>
    <div class="cut"></div>
    <label for="firstname" class="placeholder">First name</label>
  </div>
  <div class="input-container ic2">
    <input
      id="lastname"
      class="input"
      type="text"
      placeholder=" "
      formControlName="lastName"
    />
    <div *ngIf="!formData.controls.lastName.valid" style="color: red">
      Lasst Name is required
    </div>
    <div class="cut"></div>
    <label for="lastname" class="placeholder">Last name</label>
  </div>
  <div class="input-container ic2">
    <input
      id="email"
      class="input"
      type="text"
      placeholder=" "
      formControlName="email"
    />
    <div class="cut cut-short"></div>
    <label for="email" class="placeholder">Email</label>
  </div>
  <button type="submit" class="submit" [disabled]="!formData.valid">
    submit
  </button>
</form>
<!-- <form [formGroup]="formData2" (ngSubmit)="onSubmit2()">
  <label>
    Name:
    <input type="text" formControlName="name" />
    <div *ngIf="!formData2.controls.name.valid" style="color: red">
      First Name is required
    </div>
  </label>
  <br />
  <label for="">
    Age:
    <input type="text" formControlName="age" />
  </label>
  <br />
  <button type="submit" [disabled]="!formData2.valid">Submit</button>
</form> -->
