.home_component {
  border: 1px solid black;
  padding: 10px;
  box-shadow: 5px 10px red;
  width: 700px;
}
table,
th,
td {
  border: 1px solid green;
  border-collapse: collapse;
  text-align: center;
}
th,
td {
  background-color: white;
}
.fruit__list {
  border: 2px solid green;
}
.sale {
  color: red;
}
